<div class="dashboard-container">
  <h1>User Dashboard</h1>

  <app-user-stats
    [totalUsers]="totalUsers"
    [activeUsers]="activeUsers"
    [inactiveUsers]="inactiveUsers"
  ></app-user-stats>

  <app-user-filters
    [filters]="filters"
    [roles]="roles"
    [departments]="departments"
    [statuses]="statuses"
    (filtersChange)="updateFilters($event)"
    (resetFilters)="resetFilters()"
  ></app-user-filters>

  <div class="actions-section">
    <button class="btn btn-primary" (click)="openAddForm()">Add New User</button>
    <span class="results-count">Showing {{ paginatedUsers.length }} of {{ displayedUsers.length }} users</span>
  </div>

  <app-user-table
    [users]="paginatedUsers"
    [sortField]="sortField"
    [sortDirection]="sortDirection"
    (sort)="sortBy($event)"
    (toggleStatus)="toggleUserStatus($event)"
    (editUser)="openEditForm($event)"
    (deleteUser)="deleteUser($event)"
  ></app-user-table>

  <app-user-pagination
    *ngIf="totalPages > 1"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (previousPage)="previousPage()"
    (nextPage)="nextPage()"
    (pageChange)="goToPage($event)"
  ></app-user-pagination>

  <app-user-form-modal
    *ngIf="showForm"
    [isEditing]="isEditing"
    [formSubmitted]="formSubmitted"
    [userForm]="userForm"
    [roles]="roles"
    [departments]="departments"
    (saveUser)="saveUser()"
    (closeForm)="closeForm()"
  ></app-user-form-modal>
</div>

